:root {
  --bg-color: #00141a;
  --main-color: #72963e;
  --caret-color: #72963e;
  --sub-color: #a0a0a0;
  --sub-alt-color: #00222b;
  --text-color: #eee;
  --error-color: #e01b24;
  --error-extra-color: #a51d2d;
  --colorful-error-color: #e01b24;
  --colorful-error-extra-color: #a51d2d;
}
