// Formata Font - Default font for the website
@font-face {
  font-family: "Formata";
  font-style: normal;
  font-weight: 300;
  font-display: block;
  src: url("/ieee-formata-font/Formata-Light.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/ieee-formata-font/Formata-Regular.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("/ieee-formata-font/Formata-Medium.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/ieee-formata-font/Formata-Bold.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url("/ieee-formata-font/Formata-Italic.woff") format("woff");
}

@font-face {
  font-family: "Formata";
  font-style: italic;
  font-weight: 700;
  font-display: block;
  src: url("/ieee-formata-font/Formata-BoldItalic.woff") format("woff");
}
